<div class="wideRow">
    <label for="preg"  class="itemNarrow">Text:</label>
    <input type="text" class="itemWide" id="text" name="text" value="<%= tip.text %>" placeholder="Tip" autocomplete="off"/>
    </div>
    
    <br/>
    <a href="/goback" class="button">Cancel</a>
    
    <input type="submit" value="Save">